.nav-bar
  .logo(ui-sref="homepage") Nome da Loja
  ul
    li.cart(ui-sref="cart")
      i.fa.fa-shopping-cart 
      | {{main.cartCount()}}
.product-feature
  .ui.grid.container
    .eight.wide.computer.sixteen.wide.tablet.column.column
      .product-photo
        img(src="https://unsplash.it/400/400/?random")
    .eight.wide.computer.sixteen.wide.tablet.column.column
      .product-info
        .title Nome do Produto
        .category Categoria
        .price R$10,00
        .desc  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus vel ad porro officia eveniet soluta dicta nulla quaerat ipsa perferendis repellendus nesciunt, tempora in? Quis quia ullam laborum unde! Illum.
        .buy-button(ng:click="vm.addItem(vm.product)") Comprar
        
