.listSupply-feature
  .ui.centered.grid
    .row
      .twelve.wide.column
        .ui.stacked.segment
          h2.ui.dividing.header Serviços

          .field
            table.ui.celled.striped.table
              thead
                tr
                  th Nome
                  th Nº de Cidades
                  th Ações
              tbody
                tr(ng:repeat="supply in vm.supplies")
                  td {{supply.name}}
                  td {{supply.cities.length}}
                  td
                    button.ui.button(ng:click="main.goTo('editSupply', {id: supply._id})") Editar
                    
              tfoot.full-width
                tr
                  th: b {{vm.supplies.length}} Serviços
                  th(colspan='4')
                    .ui.right.floated.small.primary.labeled.icon.button(ng:click="main.goTo('saveSupply')")
                      i.plus.icon
                      |  Adicionar Serviço


      
