html{
  margin: 0
}

html, body {
  font-family: 'Open Sans', sans-serif;!important;
  background-color: #fff!important
}

h1, h2, h3, h4, h5 {
  font-family: 'Open Sans', sans-serif;!important;
  font-weight: 100
}

.item {
  font-family: 'Open Sans', sans-serif;!important;
  font-weight: 300;
}

.header {
  font-weight: 300!important
}

label {
  font-weight: 500!important
}

.container-component {
  padding: 2em;
  margin: 10px;
}

div[class*="feature"] {
  background-color: #fff
}

// Layout sidebar

.main-content {
  padding-left: 83px;
}

.no-sidebar {
  .sidebar-menu {
    display: none;
  }
  .main-content {
    padding-left: 0px;
  }

}

ui-view > div[class*="feature"] {
  padding-top: 80px;
}
