.nav-bar
  .logo(ui-sref="homepage") Nome da Loja
  ul
    li.cart(ui-sref="cart")
      i.fa.fa-shopping-cart 
      | {{main.cartCount()}}
.cart-feature
  .table-wrapper
    table.ui.very.basic.table
      thead
        tr
          th 
          th Name
          th Preço
          th Quantidade
          th Total
      tbody
        tr(ng:repeat="item in vm.getCart() track by $index")
          td: img(src="https://unsplash.it/400/400/?random")
          td {{item.Name}}
          td {{item.Price | currency}}
          td
            .quantity
              .minus(ng:click="vm.addItem(item)"): i.fa.fa-plus
              .number {{item.quantity}}
              .add(ng:click="vm.removeItem(item, $index)"): i.fa.fa-minus
          td {{item.Price * item.quantity | currency}}
    .actions
      .continue-buying(ui-sref="homepage") Continue Comprando
      .finish-button Finalizar

        
