.blocklist-feature
  .ui.centered.grid
    .row
      .twelve.wide.column
        .ui.stacked.segment
          h2.ui.dividing.header Blocos
          .ui.five.column.grid.blocks
            .column(ng-repeat="block in vm.blocks track by $index")
              .ui.fluid.card
                .icons-itens
                  i.building.icon
                .content.content-itens
                  a.header {{block.name}}
                  span.content {{block.apartaments.lengh}}
