.saveCompany-feature
  .ui.centered.grid
    .row
      .twelve.wide.column
        .ui.stacked.segment
          form.ui.form(name="companyForm")
            h2.ui.dividing.header Nova Empresa
            
            .field(ng:class="{'error': companyForm.name.$invalid && vm.showErrors}")
              label Nome do Serviço
              input(type='text' name='name' ng:model='vm.company.name' placeholder='Nome da Empresa')
            
            .field
              label Email
              input(type='email' name='email' ng:model='vm.company.email' placeholder='Email')
            
            .field
              label Telefone
              input(type='tel' name='phone' ng:model='vm.company.telephone' placeholder='Telefone')
            
            .field
              label CNPJ
              input(type='tel' name='cnpj' ng:model='vm.company.cnpj' placeholder='CNPJ')
            
            .field
              label Wunderlist ID
              input(type='text' name='wunderlist' ng:model='vm.company.wunderlist_id' placeholder='ID do Wunderlist')
            
            .field
              label Valor Mínimo para Compra
              input(type='tel' name='minValue' ng:model='vm.company.minValue')
                
            .field
              label Taxa de Entrega
              input(type='tel' name='deliveryFee' ng:model='vm.company.deliveryFee')
                
            .field
              label Tipo de Serviço
              select(name='skills' ng:model="vm.company.supply" )
                option(ng:repeat="supply in vm.supplies track by $index" value='{{supply._id}}') {{supply.name}} 
                    
            .field
              .ui.checkbox
                input(type='checkbox' name="active" ng:model="vm.company.active")
                label Empresa Ativa
                
            .three.fields
              .field
                label Cidade
                select(name='skills' ng:model="vm.selectedCity" ng:change="vm.prepareNeighborhoods(vm.selectedCity)")
                  option(ng:repeat="city in vm.cities track by $index" value='{{city.name}}') {{city.name}} 
              .field
                label Bairro
                select(name='skills' ng:model="vm.selectedNeighborhoods" on-change="vm.foo")
                  option(ng:repeat="neighborhood in vm.neighborhoods track by $index" value='{{neighborhood.name}}') {{neighborhood.name}} 
              .inline.field
                button.fluid.ui.primary.button(ng-click='vm.addNeighborhood(vm.selectedCity, vm.selectedNeighborhoods)') Adicionar Bairro
                  
            .field
              label Cidades
              table.ui.compact.striped.table(ng:repeat="city in vm.company.available_at track by $index")
                thead
                  tr
                    th(colspan='3') {{city.city}} -  Bairros
                tbody
                  tr(ng:repeat="neighborhood in city.neighborhoods track by $index")
                    td {{neighborhood}}
                    td: button.ui.red.inverted.button.right.floated(ng:click="vm.remove($parent.$index)") Excluir
            
            //- Credit Cards ------------------------------------------------------------------
            .fields
              label Cartões
              .inline.field
                .ui.checkbox
                  input(type='checkbox' name="visa" ng:model="vm.company.creditCards.visa")
                  label Visa
              .inline.field
                .ui.checkbox
                  input(type='checkbox' name="americanExpress" ng:model="vm.company.creditCards.americanExpress")
                  label americanExpress
              .inline.field
                .ui.checkbox
                  input(type='checkbox' name="dinnersClub" ng:model="vm.company.creditCards.dinnersClub")
                  label dinnersClub
              .inline.field
                .ui.checkbox
                  input(type='checkbox' name="mastercard" ng:model="vm.company.creditCards.mastercard")
                  label mastercard
              .inline.field
                .ui.checkbox
                  input(type='checkbox' name="hipercard" ng:model="vm.company.creditCards.hipercard")
                  label hipercard
              .inline.field
                .ui.checkbox
                  input(type='checkbox' name="maestro" ng:model="vm.company.creditCards.maestro")
                  label maestro
              .inline.field
                .ui.checkbox
                  input(type='checkbox' name="elo" ng:model="vm.company.creditCards.elo")
                  label elo


            //- Credit Cards ---------------------------------------------------------------END

            //- Business Hours ----------------------------------------------------------------
            .field
              label Horários
              .ui.form
                .inline.fields 
                  label.min-width Segunda-Feira
                  .field
                    input(type="time" ng:model="vm.company.businessHours.monday.start")
                  .field
                    input(type="time" ng:model="vm.company.businessHours.monday.finish")
                .inline.fields 
                  label.min-width Terça-Feira
                  .field
                    input(type="time" ng:model="vm.company.businessHours.tuesday.start")
                  .field
                    input(type="time" ng:model="vm.company.businessHours.tuesday.finish")
                .inline.fields 
                  label.min-width Quarta-Feira
                  .field
                    input(type="time" ng:model="vm.company.businessHours.wednesday.start")
                  .field
                    input(type="time" ng:model="vm.company.businessHours.wednesday.finish")
                .inline.fields 
                  label.min-width Quinta-Feira
                  .field
                    input(type="time" ng:model="vm.company.businessHours.thursday.start")
                  .field
                    input(type="time" ng:model="vm.company.businessHours.thursday.finish")
                .inline.fields 
                  label.min-width Sexta-Feira
                  .field
                    input(type="time" ng:model="vm.company.businessHours.friday.start")
                  .field
                    input(type="time" ng:model="vm.company.businessHours.friday.finish")
                .inline.fields 
                  label.min-width Sábado
                  .field
                    input(type="time" ng:model="vm.company.businessHours.saturday.start")
                  .field
                    input(type="time" ng:model="vm.company.businessHours.saturday.finish")
                .inline.fields 
                  label.min-width Domingo
                  .field
                    input(type="time" ng:model="vm.company.businessHours.sunday.start")
                  .field
                    input(type="time" ng:model="vm.company.businessHours.sunday.finish")
                      
            //- Business Hours -------------------------------------------------------------END
            //- Map and Address ---------------------------------------------------------------
            .field(id="searchbox")
              label Endereço
              //- GMap Search Box will be rendered here :)
            
            .field
              script(id="searchbox.tpl.html" type="text/ng-template")
                input(required type="text" placeholder="Endereço" ng-model='$parent.vm.company.address')
              ui-gmap-google-map(center='vm.map.center' zoom='vm.map.zoom')
                ui-gmap-search-box(template="vm.map.searchbox.template" parentdiv="'searchbox'" events="vm.map.searchbox.events")
                ui-gmap-marker(coords="vm.company.coordinates" options="vm.map.marker.options" idkey="1")
            //- Map and Address ------------------------------------------------------------END

            .field
              button.fluid.ui.primary.button(ng-click='vm.save(vm.company)') Salvar

        
