.editCategory-feature
  .ui.centered.grid
    .row
      .twelve.wide.column
        .ui.stacked.segment
          form.ui.form(name="categoryForm")
            h2.ui.dividing.header Editar Categoria
            .field
              label Nome da Categoria
              input(type='text' name='name' ng:model='vm.category.name' placeholder='Nome da Categoria')

            .field
              button.fluid.ui.primary.button(ng-click='vm.save(vm.category)') Salvar

        
