.saveCompany-feature {
  margin: 5% auto
  padding: 0

  .min-width {
    min-width: 150px;
    color: #5f5f5f!important;
    font-weight: 400!important;
  }

  .angular-google-map-container { height: 250px; }
}
