.saveSupply-feature
  .ui.centered.grid
    .row
      .twelve.wide.column
        .ui.stacked.segment
          form.ui.form(name="supplyForm")
            h2.ui.dividing.header Novo Serviço
            .field(ng:class="{'error': supplyForm.name.$invalid && vm.showErrors}")
              label Nome do Serviço
              input(type='text' required name='name' ng:model='vm.supply.name' placeholder='Nome do Serviço')
                
            .field
              .ui.checkbox
                input(type='checkbox' name="active" ng:model="vm.supply.active")
                label Serviço Ativo
                
            .field
              label Termos de Uso
              textarea(rows='2' ng:model="vm.supply.terms")

            .field
              label Imagem
              img.ui.small.image(ng:src="data:{{vm.supply.image.filetype}};base64,{{vm.supply.image.base64}}" ng:if="vm.supply.image")
              input(type='file' ng:model="vm.supply.image" base-sixty-four-input)
            
            .field
              label Cidades
              select.ui.fluid.dropdown(name='skills' multiple multi-select ng:model="vm.supply.cities")
                option(ng:repeat="city in vm.cities track by $index" value='{{city._id}}') {{city.name}} 
              

            .field
              button.fluid.ui.primary.button(ng-click='vm.save(vm.supply)') Criar Serviço

        
