doctype html
html(ng-app='app')
    head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')

    title Dashboard
    
    link(rel="stylesheet" href="application.min.css")
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")

    // bower:css
    // endbower

    body(ng-controller='MainController as main' ng:class="{'no-sidebar': !main.isLogged()}")
      menu(ng:hide="hideMenu")
      ui-view
          
    script(src="//cdnjs.cloudflare.com/ajax/libs/core-js/2.1.4/core.min.js")
    script(src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false&language=en&v=3.20")
    script(src="https://cdn.socket.io/socket.io-1.4.5.js")
    // bower:js
    // endbower

    script(src='application.js')
